.flexbox-container {

}

.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
}

.flexbox-item-1 {
    min-height: 100px;
}

.flexbox-item-2 {
    min-height: 200px;
}

.flexbox-item-3 {
    min-height: 300px;
}

.flexbox-item-1 {
    min-height: 100px;
    flex-grow: 0;
}

.flexbox-item-3 {
    min-height: 300px;
    flex-grow: 1;
}